.chat-container{
  position: relative;
  width:45vw;
  margin:auto;
  margin-top: 1.5rem;
  border: #aaaaaa solid 1px;

  .chat-inner{
    min-width: 23rem;
  }

  header{
    position:relative;
    background: $blue-header;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darken($blue-header, 10%);
    position:relative;
    z-index: 1000;
    font-size: 1rem;
    box-shadow: 0 0.1rem 0.1rem #777777;

    .messages-link{
      position: absolute;

      img{
        height: 1.8rem;
        width: 1.8rem;
        filter: grayscale(1) invert(1);
        margin-right: 0.5rem;
      }
    }

    .username-container{
      margin-left: 3rem;
    }

    .username{
      font-size: 1.6rem;
    }
    div{
      margin: 0.2rem 0.7rem;
    }
    .rating-outer-container{
      form{
        display:flex;
        flex-direction: column;
        align-items: center;

        button{
          background: #3f51b5;
          color: white;
          font-size: 1.2rem;
          padding:0.3rem 0.9rem;
          border-radius: 0.2rem;
        }
      }
    }
  }

  .message-list{
    position: relative;
    overflow-y: scroll;
    height: 60vh;
    background: #eeeeee;
    margin-bottom: 3rem;

    ul{
      padding:0;
    }

    li{
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: row;
    }

    .chat-msg{
      display:inline-block;
      border-radius: 0.4rem;
      background:white;
      padding: 0.3rem 0.7rem;
      margin: 0.7rem 0;
      min-width: 10rem;
      max-width: 30rem;
      word-break: break-all;
    }

    .cur-user-msg{
      margin-right: 1rem;
      margin-left: auto;
      border: 1px solid #cccccc;
    }

    .other-user-msg{
      margin-left: 1rem;
      background: $blue-header;
      border: 1px solid darken($blue-header, 10%);
      color: white;
    }
  }
}

.chatbar {
  min-width: 23rem;
  position: absolute;
  bottom: 0;
  background: white;
  width:100%;
  display: flex;
  justify-content: center;
}

.chatbar-message {
  border: 1px solid #aaaaaa;
  display: block;
  height: 2.5rem;
  margin: 5px;
  padding: 0 9px;
  flex: 1;
}


