.chat-container{
  position: relative;
  width:50vw;
  margin:auto;
  margin-top: 2.5rem;
  border: #aaaaaa solid 1px;

  header{
    background: $blue-header;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .username{
      font-size: 2rem;
    }
    div{
      margin: 0.3rem 1rem;
    }

    .rating-outer-container{
      form{
        display:flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .message-list{
    overflow-y: scroll;
    height: 60vh;
    background: #eeeeee;
    margin-bottom: 3rem;
    display: block;

    li{
      list-style-type: none;
    }

    .chat-msg{
      border: 1px solid black;
      background:white;
    }

    .cur-user-msg{
      position: relative;
      right: 0px;
      box-shadow: -2px 2px 2px black;
    }

    .other-user-msg{
      position: relative;
      left: 0;
      align-self:flex-end;
    }
  }
}

.chatbar {
  position: absolute;
  bottom: 0;
  background: white;
  width:100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}

.chatbar-message {
  border: 1px solid black;
  display: block;
  height: 3rem;
  margin: 5px;
  padding: 0 9px;
  flex: 1;
}
