$nav-color: #212121;

.header-top{
  top: 0px;
  width: 100vw;
  /*background: $nav-color;*/
  background-image: -webkit-linear-gradient(bottom, #222222 0%, #555555);
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $header-height;
  z-index: 5000;
      // font-family: 'Raleway', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;

  .app-title{
    color: white;
    font-size: 2.5rem;

    img {
      width: 3rem;
      height: 2rem;
      filter: brightness(300%) invert(0.1);
    }
  }


}
/*  filter invert */


.toggle-nav{
  position: absolute;
  left: 1rem;
  padding: 0;
  height: 3rem;
  width: 3.5rem;
  border-radius: 0.05rem;
  background-color: transparent;

  img{
    height: 100%;
    width: 100%;
    filter: invert(1);
  }
}

.nav-login-container{
  position: absolute;
  right: 1.5rem;
  display: flex;
  flex-direction: column;

  .login-button{
    right: 1rem;
  }

  .logout-button{
    background: #ee4035;

    &:hover{
      background: lighten(#ee4035, 5%);
    }
  }

  /*.navbar-email{
    color: white;
    }*/
  }

