.header-top{
  top: 0px;
  width: 100vw;
  background: #444444;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $header-height;
  z-index: 5000;

  .app-title{
    color: white;
    font-size: 2.5rem;
  }
}



.toggle-nav{
  position: absolute;
  left: 1rem;
  padding: 0;
  height: 3rem;
  width: 3.5rem;
  border-radius: 0.2rem;

  img{
    height: 100%;
    width: 100%;
  }
}

.nav-login-container{
  position: absolute;
  right: 1.5rem;
  display: flex;
  flex-direction: column;

  .login-button{
    right: 1rem;
  }

  .logout-button{
    background: #ee4035;

    &:hover{
      background: lighten(#ee4035, 5%);
    }
  }

  .navbar-email{
    color: white;
  }
}

