.header-top{
  top:0px;
  width:100vw;
  background:#444444;
  display:flex;
  position:fixed;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height: $header-height;
}

.header-top a{
  color:white;
}

.toggle-nav{
  position:absolute;
  left:1rem;
  cursor:pointer;
}

.login-button{
  background:red;
  position:absolute;
  right:2rem;
}
