@import "variables.scss";
@import "header.scss";
@import "listing-map.scss";
@import "listing-grid.scss";

html, body {
  box-sizing:border-box;
  margin:0;
  font-size:15px

}

a{
  text-decoration:none;
}

.main-container{
  display:flex;
  flex-direction:column;
  min-height:100vh;
  padding-top:$header-height;
}
