html, body {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
  font-family: Arial;
  color: #333;
}

a{
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4, h5{
  margin:0;
  color: black;
}

button{
  border: none;
  background: white;
  cursor: pointer;

  &:focus{
    outline:none;
  }
}

@import "variables.scss";
@import "default-containers.scss";
@import "default-styles.scss";
@import "header.scss";
@import "rentals-map.scss";
@import "new-rentals.scss";
@import "rentals-grid.scss";
@import "rentals-single.scss";
@import "rentals-marker.scss";
@import "sidebar.scss";
@import "chat.scss";
@import "my-messages.scss";
@import "page-mask.scss";
@import "yelp-search.scss";
@import "yelp-results.scss";
@import "login.scss";
@import "rental-search-container.scss";
@import "signup.scss";
@import "errors.scss";
@import "background.scss";

.main-container{
  display: flex;
  flex-direction: column;
  min-height: $main-container-height;
  padding-top: $header-height;
}
