html, body {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px
}

a{
  text-decoration: none;
  color: black;
}

button{
  border: none;
  background: white;
  cursor: pointer;

  &:focus{
    outline:none;
  }
}

@import "variables.scss";
@import "default-containers.scss";
@import "header.scss";
@import "rentals-map.scss";
@import "rentals-grid.scss";
@import "rentals-single.scss";
@import "rentals-marker.scss";
@import "sidebar.scss";
@import "chat.scss";
@import "page-mask.scss";


.main-container{
  display: flex;
  flex-direction: column;
  min-height: $main-container-height;
  padding-top: $header-height;
}
