.conversations-container{
  margin-top: $default-table-margin-top;

  table{
    background: white;
    border-radius: 0.3rem;
    border: 1px solid #aaaaaa;
    min-width: 20rem;
    box-shadow: $default-table-shadow;
    border-collapse: collapse;
  }

  th{
    color: white;
    background: #0392cf;
    font-size: $default-th-font-size;
    padding: $default-th-padding;
  }

  tr{
    transition:background 1s;



    &:hover{
      background: #eeeeee;
    }
  }

  td{
    border-collapse: collapse;
    padding:0 1rem;
  }

  .thread-message-icon{
    height: 3rem;
    width: 3rem;
    transition: height 1s;
  }
}