.new-rental-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #f4ffe6e0;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.new-listing-container {
  // border: 1px solid darkblue;
  // background-color: rgba(33, 46, 48, 0.021)
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
}

.textfield {
  width: 69%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.new-listing-container h3 {
  border: 1px solid #bdbdbd;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 2rem 2rem 1rem;
  background-color: #fefefe;

}

.new-listing-container h2 {
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 0 2rem 1rem;
}

.address-container {
  border: 1px solid #bdbdbd;
  padding: 0 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem 1rem;
  width: 80%;
  background-color: #fefefe;

}

.listing-description-container {
  border: 1px solid #bdbdbd;
  padding: 0 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem 1rem;
  width: 80%;
  background-color: #fefefe;

}

.images-container {
  border: 1px solid #bdbdbd;
  padding: 0 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem 1rem;
  width: 80%;
  background-color: #fefefe;

}