.new-rental-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.new-listing-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  border-radius: 0.3rem;

  h2{
    margin: 1rem 0;
  }

 .heading-container{
    width: 100%;

    h3{
      text-align: left;
      width: 100%;
      padding: 0 3rem;
    }
  }

  section{
    border-top: 1px solid #bdbdbd;
    width: 100%;
    margin-bottom: 2rem;

    .listing-field{
      margin: 1rem 3rem;

      div{

      }
    }
  }

  .submit{
    margin-bottom: 1rem;
  }
}


