.rentals-manage-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;

  table{
    min-height: 12rem;
    margin-top: $default-table-margin-top;
    background: white;
    border-collapse: collapse;
    box-shadow: $default-table-shadow;
    min-width: 23rem;

    a{
      color: blue;
    }

    th{
      background: $blue-header;
      padding: $default-th-padding;
      font-size: $default-th-font-size;
      color: white;
      font-family: 'Poppins', sans-serif;

    }

    tr{
      font-family: 'Ubuntu', sans-serif;
      border-bottom: 1px solid #cccccc;
    }

    td{
      padding: 0.5rem 1rem;
    }

    .add-listing-td{
      text-align: center;
    }

    img{
      width: 2.3rem;
      heigth: 2.3rem;
    }
  }
}