.no-results{
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.listing-grid-container{
  padding-top: 4rem;
  margin:1rem;
  display: grid;
  grid-template-columns: 31vw 31vw 31vw;
  grid-gap: 1rem;
  color: #444;
  font-family: 'Raleway', sans-serif;

  .listing-grid-card{
    position:relative;
    color: #fff;
    margin-bottom: 0.08rem;


    &:hover {
      box-shadow: 5px 10px;
    }

    .listing-grid-photo-container{
      width:100%;
      height:31vw;
      display:flex;
      flex-direction:row;
      img{
        object-fit:cover;
        flex:1;
        overflow:hidden;
      }
    }

    .listing-grid-info{
      display:flex;
      flex-direction:column;
      justify-content:center;
      position:absolute;
      bottom:0;
      left:0;
      background:rgba(0, 0, 0, .5);
      width:100%;
      text-align:center;
      padding:0.4rem 0;

      .listing-grid-address{
        font-size:1.2rem;
        margin-bottom:0.1rem;
      }
    }
  }
}