.card-container{
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  box-shadow: -0.3rem 0.3rem 0.8rem #aaaaaa;

  .single-rental-card {
    border: 1px solid #aaaaaa;
    position: relative;
    background: #eeeeee;
    width: 50vw;
    min-width: 40rem;
    min-height:30rem;
    display: flex;
    flex-direction: column;

    .image-gallery-slides {
      height: 28rem;
    }

    .image-gallery-slide img {
      flex: 1;
      object-fit: cover;
      overflow: hidden;
    }

    .mask {
      height: 3.5rem;
      top: -3.5rem;
      width: 100%;
      background: black;
      opacity: 0.5;
      position: absolute;
    }

    .single-card-address-container {
      color: white;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      height: 3.5rem;
      top: -3.5rem;
      position: absolute;
    }

    .rental-card-info {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 1rem;
      position: relative;
      min-height: 11rem;
      font-family: 'Montserrat', sans-serif;

      .summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-right: 1rem;

        h4 {
          margin: 0;
          color: #686868;
          text-align: center;

        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: 'Raleway', sans-serif;
      

      .landlord-contact-container {
        align-self: flex-end;
        width: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        opacity: 0.8;
        font-family: 'Ubuntu', sans-serif;

        &:hover{
          transition:background 0.3s;
          opacity: 1;
          font-weight: bold;
        }

        div {
          display: inline-block;
                  }

        img {
          height: 2.2rem;
          width: 2.2rem;
          -webkit-align-content: center;
        }
      }
    }
  }

  .yelp-results-container {
    background: #eeeeee;
    transition: width 1s;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #aaaaaa;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .hidden {
    width: 0;
  }

  .visible {
    width: 24rem;
  }
}
.mappedImages {
  height: 411px;
}