.sidebar{
  position: fixed;
  top: 0px;
  height: 100vh;
  background: white;
  border-right: solid black 1px;
  z-index: 30000;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.closed-sidebar{
  width: 0;
}

.opened-sidebar{
  width: $sidebar-width;
}

.sidebar-item{
  width: $sidebar-width;
  display: flex;
  flex-direction: row;
  align-items: center;

  .img-container{
    width: 30%;
    margin: 0 1rem;
  }

  div{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &:hover{
    background:#eeeeee;
  }
}

#grid-icon{
  width: 4.5rem;
  height: 4.5rem;
}

#messages-icon{
  width: 6rem;
  height: 6rem;
}

#map-icon{
  width: 5rem;
  height: 5rem;
}