$header-height: 8vh;
$main-container-height: 88vh;
$map-width: 60vw;
$sidebar-width: 15rem;
$default-box-shadow: -2px 2px 2px #aaaaaa;
$default-dark-grey: #333;
$default-light-grey: #333;
$faded-text-color: #aaaaaa;
$default-auth-button-color: #0392cf;
$blue-header: #0392cf;

$default-table-margin-top: 2rem;
$default-th-padding: 1rem;
$default-th-font-size: 1.5rem;
$default-table-shadow: -0.18rem 0.18rem 0.2rem #444444;
