$header-height: 12vh;
$main-container-height: 88vh;
$map-width: 60vw;
$sidebar-width: 14vw;
$default-box-shadow: -2px 2px 2px #aaaaaa;
$faded-text-color: #aaaaaa;
$default-auth-button-color:#0392cf;
$blue-header:#0392cf;
