$yelp-search-icon-color: #ef4d43;

.yelp-search-container{
  display:flex;
  flex-direction:row;
  position:relative;

  button{
    border-radius: 0.3rem;
    border:solid 1px darken($yelp-search-icon-color, 10%);
    margin:0.2rem;
    width: 4vw;
    height: 4vw;
    background: $yelp-search-icon-color;
    transition:background 0.3s;

    &:hover{
      background:darken(#ee4035, 10%);
      transition:background 0.3s;
    }

    img{
      filter: grayscale(1) invert(1);
      height:100%;
      width:100%;
    }
  }
}
