.yelp-search-container{
  display:flex;
  flex-direction:row;
  position:relative;

  button{
    border-radius: 0.3rem;
    border:solid 1px darken(#ee4035, 10%);
    margin:0.2rem;
    width: 4vw;
    height: 4vw;
    background: #ee4035;
    transition:background 1s;

    &:hover{
      background:lighten(#ee4035, 5%);;
    }

    img{
      filter: grayscale(1) invert(1);
      height:100%;
      width:100%;
    }
  }
}
