.yelp-search-container{
  display:flex;
  flex-direction:row;
  position:relative;

  button{
    border:solid 1px #aaaaaa;
    margin:0.2rem;
    width: 4rem;
    height: 4rem;
    background: #dddddd;
    transition:background 1s;

    &:hover{
      background:white;
    }

    img{
      height:100%;
      width:100%;
    }
  }
}
